<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.6.3/css/all.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a th:href="@{/}">User List</a></li>
                    <li role="presentation"><a th:href="@{/signup}">Sign Up</a></li>
                </ul>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">NAME</th>
                            <th scope="col">PASSWORD</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">EDIT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user:${users}" th:object="${user}">
                            <th scope="row" th:text="${user.id}"></th>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.password}"></td>
                            <td th:if="${user.finished}">INACTIVE</td>
                            <td th:unless="${user.finished}">ACTIVE</td>
                            <td><a th:href="@{/edit/{id}(id=${user.id})}"><i class="fas fa-edit"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>